# Copy this file to ~/.gitconfig.local and customize with your information
# This file is NOT tracked in git to keep personal information private
# Optional, set your email to private in https://github.com/settings/emails

[user]
	email = username@@users.noreply.github.com
	name = Your Name or Username
